.ql-container {
    height: auto !important;
  }

.ql-editor {
    height: auto !important;
    min-height: 42vh; 
    font-size: 17px;
    font-family: 'Segoe UI';
    color:black
   }
  
.ql-editor:focus {
    border: 1px solid rgba(211, 202, 202, 0.733);
    border-color: #176772;
    box-shadow: 3px 2px 6px rgb(206, 212, 212) !important;
  }