.get-started{
  margin-top: 50px;
}

.home-container {
    display:flex;
    background-color: #dcdce7;
    width: 100%;
  }
  .home-wrapper{
    width: 100%;
  }



.Left-wrapper {
  width:95%;
  margin-top: 45px;
  margin-left: 40px;

}
  .home-wrapper > img{
  width:634px;
  height: 569px;
  float: right;
  }
  .Left-wrapper > h1 {
    position: absolute;
    top: 120px;
    z-index: 1000;
    color: #0d1561;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 47px;
    font-weight:bold; 
    font-family: 'PT Sans', sans-serif;
}
.Left-wrapper > h2 { 
    color: #6b6d7e;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 24px;
    font-weight:bold;
    font-family: 'PT Sans', sans-serif;
    margin-top: 130px;
  }

  @media screen and (max-width: 1350px) { 
    .Left-wrapper > h1 {
      font-size: 34px;
    }
  }

  @media screen and (max-width: 1300px) {
    .Left-wrapper > h1 {
      font-size: 37px;
    }
  }
  @media screen and (max-width: 1200px) {

    .home-wrapper {
      width: 30%;
    }
    
    .Left-wrapper{
      width: 300%;
      overflow: hidden;
      position: relative;
      display: block; 
    }

    .Left-wrapper > h1 {
      font-size: 23px;
      position: relative;
      margin-top: -80px;
     
    }
    .Left-wrapper > h2 {
      font-size: 19px;  
      

    }
    .home-wrapper > img{
      margin-left: 40px;
      float: left;
      width:450px;
      height: 400px;
     
      }

    .get-started{
        margin-left: -15px;
        padding: 25px;
        padding-left: 10px;
        
    }
    
  }
  
