.login-container {
    padding-top: 569px;
    display:flex;
    background-color: #dfdfe9;
    height: 100%;
    width: 100%;
    object-fit: contain;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
 }
 .form-input i {
  position: absolute;
  margin-right: 0px;
  padding: 9px 8px;
  color: rgb(184, 174, 197);
  transition: 0.3s;
}


.login-wrapper {
    height: 100%;
    width: 100%;
    margin-left: 29px;
  }

.form-login{
    margin-left: 930px;
    width: 340px;
    margin-top: -560px;
  }
 
  .left-login{
    float: left;
    margin-top: -580px;
  }

  .left-login > img {
    width:720px;
    height: 430px;

  }
  .left-login > h2 {
    color: rgb(61, 44, 216);
    margin-left: 25px;
    margin-top: 20px;
    font-size: 33px;
    font-family: 'PT Sans', sans-serif;
    
  }
  .left-login > h3 {
    color: rgb(24, 25, 31);
    margin-left: 25px;
    margin-top: 13px;
    font-size: 20px;
    font-family: 'PT Sans', sans-serif;
}  

.form-input {
  margin-bottom: 10px;
}
.heading1 {
  margin-top: -50px;
  margin-bottom: 10px;
  margin-left: 50px;
}

.heading2 {
  margin-bottom: 25px;
  margin-left: 100px;
}

.form-input input{
  width: 100%;
  padding: 10px;
  padding-left: 40px;
  border: 1px solid #9b93ad;
  border-radius: 10px;
  margin-bottom: 10px;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 13px;
}

input::placeholder{
  color: rgb(56, 50, 50);
  font-size: 14px;
}




.button {
  padding: 10px 20px;
  border: 1px solid rgb(61, 44, 216);
  border-radius: 5px;
  background: rgb(61, 44, 216);
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  cursor: pointer;
  text-align: center;
  appearance: button;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn svg {
  margin-right: 8px;
}



.btn-login {
  width: 100%;
  margin-bottom: 20px;
}

.btn-login:hover {
  transform: scale(0.98);
  background-color: rgb(43, 34, 92);
}

@media only screen and (max-width: 1300px) {
  .left-login > img {
    width: 85%;
    height: 400px;
  }
  .left-login > h2, 
  .left-login > h3 {
    font-size: 150%;
  }

  .form-login{
    float: left;
    margin-left: 850px;
    margin-top: -400px;
    width: 300px;
  }

}


  @media screen and (max-width: 1200px) {
    .left-login > img, 
    .left-login >h2, 
    .left-login >h3 {
     display: none;
    }

    .heading1 {
      margin-top: 520px;
      margin-bottom: 1px;
      margin-left: 50px;
    }
    .form-login{
      margin: 0;
      position: absolute;
      top: 16%;
      left: 50%;
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
    }
  
    .login-container {   
      width: 100%;
      height:100%;
      margin: 0;
      justify-content: center;
      align-items: center;
   }
  
  .login-wrapper {
      width: 2000%;
    }

  }
